*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
/**:not(body):not(html) {
  border:1px dashed red;
}*/

/*.columns {
  min-height: 100px !important;
}*/
/* End for testing */
body {
  background: black;
  color: #E0E0E0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 465px;
  padding: 0;
  margin: 0;
}

.thumbnails img {
  width: 150px;
  height: 150px;
  padding: .2em;
}

.side-nav1, .side-nav2 {
  display: flex;
  flex-direction: column;
}

.side-nav1 {
  align-content: flex-end;
}

.available {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1em;
}

.available a {
  color: #2d7cfd;
}

.search {
  color:#0000FF;
}

.search .search-input {
  width: 16px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

footer a {
  padding: .4em;
}
